<!--************************************
			Wrapper Start
	*************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout dashboard" [ngClass]="{'tg-openmenu': isSidebarCollapsed}">
    <!--************************************
				Header Start
		*************************************-->
    <header id="tg-dashboardheader" class="tg-dashboardheader tg-haslayout">
        <nav class="navbar navbar-toggleable-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="exCollapsingNavbar2" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed"
                (click)="onTopMenuToggled()" [ngClass]="{'collapsed': isCollapsed}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{'collapse': isCollapsed}">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" i18n="Login link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/classifieds" routerLinkActive="active" i18n="Registration link">Listings</a>
                    </li>     
                </ul>
                <ul class="navbar-nav mr-right">
                    <li class="nav-item">
                        <a [ngClass]="{'tg-btn': isCollapsed, 'nav-link': !isCollapsed }" routerLink="/dashboard/classifieds/create">
                            <i *ngIf="isCollapsed" class="icon-bookmark"></i>
                            <span>Post An Ad</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div class="tg-rghtbox">
            <a class="tg-btn" routerLink="classifieds/create">
                <i class="icon-bookmark"></i>
                <span>post an ad</span>
            </a>
            <div class="dropdown tg-themedropdown tg-notification">
                <button class="tg-btndropdown" id="tg-notificationdropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-alarm"></i>
                    <span class="tg-badge">9</span>
                </button>
                <ul class="dropdown-menu tg-dropdownmenu" aria-labelledby="tg-notificationdropdown">
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                    <li>
                        <p>Consectetur adipisicing sedi eiusmod ampore incididunt ut labore et dolore.</p>
                    </li>
                </ul>
            </div>
        </div> -->
        <div id="tg-sidebarwrapper" class="tg-sidebarwrapper">
            <span id="tg-btnmenutoggle" class="tg-btnmenutoggle" (click)="onSideMenuToggled()">
                <i class="fa fa-angle-left"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="67" viewBox="0 0 20 67">
                    <metadata>
                        <!-- <?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?>
								<x:xmpmeta xmlns:x="adobe:ns:meta/" x:xmptk="Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01">
									<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
										<rdf:Description rdf:about=""/>
									</rdf:RDF>
								</x:xmpmeta>
							<?xpacket end="w"?> -->
                    </metadata>
                    <path id="bg" class="cls-1" d="M20,27.652V39.4C20,52.007,0,54.728,0,67.265,0,106.515.026-39.528,0-.216-0.008,12.32,20,15.042,20,27.652Z"
                    />
                </svg>
            </span>
            <div id="tg-verticalscrollbar" class="tg-verticalscrollbar">
                <strong class="tg-logo">
                    <a routerLink="/">
                        <img src="assets/images/logod.png" alt="image description">
                    </a>
                </strong>
                <div class="tg-user">
                    <figure>
                        <span class="tg-bolticon">
                            <i class="fa fa-bolt"></i>
                        </span>
                        <a routerLink="account/me">
                            <img src="{{user?.profileImageUrl || 'assets/images/author/img-07.jpg'}}" alt="image description">
                        </a>
                    </figure>
                    <div class="tg-usercontent">
                        <h3>Hi! {{user?.firstName}}</h3>
                    </div>
                    <a class="tg-btnedit" routerLink="account/me">
                        <i class="icon-pencil"></i>
                    </a>
                </div>
                <nav id="tg-navdashboard" class="tg-navdashboard">
                    <ul>
                        <li routerLinkActive="tg-active">
                            <a routerLink="account/me">
                                <i class="icon-cog"></i>
                                <span>Profile Settings</span>
                            </a>
                        </li>
                        <li routerLinkActive="tg-active">
                            <a routerLink="account/classifieds">
                                <i class="icon-layers"></i>
                                <span>My Ads</span>
                            </a>
                        </li>
                        <li class="menu-item-has-children" routerLinkActive="tg-active" (click)="onToggleSideMenuItem($event)">
                            <span class="tg-dropdowarrow">
                                <i class="fa fa-angle-down"></i>
                            </span>
                            <a href="javascript:void(0);">
                                <i class="icon-envelope"></i>
                                <span>Messages</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a routerLink="account/messages/received">Received</a>
                                </li>
                                <li>
                                    <a routerLink="account/messages/sent">Sent</a>
                                </li>
                            </ul>
                        </li>
                        <li routerLinkActive="tg-active">
                            <a routerLink="account/favourites">
                                <i class="icon-heart"></i>
                                <span>My Favourites</span>
                            </a>
                        </li>
                        <li routerLinkActive="tg-active">
                            <a routerLink="account/privacy">
                                <i class="icon-star"></i>
                                <span>Privacy Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" (click)="onSignout()">
                                <i class="icon-exit"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="tg-socialandappicons">
                    <ul class="tg-socialicons">
                        <li class="tg-facebook">
                            <a href="javascript:void(0);">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="tg-twitter">
                            <a href="javascript:void(0);">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="tg-linkedin">
                            <a href="javascript:void(0);">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="tg-googleplus">
                            <a href="javascript:void(0);">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="tg-rss">
                            <a href="javascript:void(0);">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="tg-appstoreicons">
                        <li>
                            <a href="javascript:void">
                                <img src="assets/images/icons/app-01.png" alt="image description">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void">
                                <img src="assets/images/icons/app-02.png" alt="image description">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--************************************
				Header End
		*************************************-->
    <!--************************************
				Dashboard Banner Start
		*************************************-->
    <div class="tg-dashboardbanner">
        <h1>Profile Settings</h1>
        <ol class="tg-breadcrumb">
            <li>
                <a href="javascript:void(0);">Home</a>
            </li>
            <li>
                <a href="javascript:void(0);">Dashboard</a>
            </li>
            <li class="tg-active">Post an Ad</li>
        </ol>
    </div>
    <!--************************************
				Dashboard Banner End
		*************************************-->
    <!--************************************
				Main Start
		*************************************-->
    <router-outlet></router-outlet>
    <!--************************************
				Main End
		*************************************-->
    <!--************************************
				Footer Start
		*************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <nav class="tg-footernav">
            <ul>
                <li>
                    <a href="javascript:void(0);">Listing Policy</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Terms of Use</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Privacy Policy</a>
                </li>
            </ul>
        </nav>
        <span class="tg-copyright">2017 All Rights Reserved &copy; Classified PRO</span>
    </footer>
    <!--************************************
				Footer End
		*************************************-->
</div>
<!--************************************
			Wrapper End
	*************************************-->
<!--************************************
			Theme Modal Box Start
	*************************************-->
<div class="modal fade tg-thememodal tg-categorymodal" tabindex="-1" role="dialog">
    <div class="modal-dialog tg-thememodaldialog" role="document">
        <button type="button" class="tg-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-content tg-thememodalcontent">
            <div class="tg-title">
                <strong>Select Category</strong>
            </div>
            <div id="tg-dbcategoriesslider" class="tg-dbcategoriesslider tg-categories owl-carousel">
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-08.png" alt="image description">
                        </figure>
                        <h3>Mobiles</h3>
                    </div>
                </div>
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-09.png" alt="image description">
                        </figure>
                        <h3>Electronics</h3>
                    </div>
                </div>
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-10.png" alt="image description">
                        </figure>
                        <h3>Vehicles</h3>
                    </div>
                </div>
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-11.png" alt="image description">
                        </figure>
                        <h3>Bikes</h3>
                    </div>
                </div>
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-12.png" alt="image description">
                        </figure>
                        <h3>Animals</h3>
                    </div>
                </div>
                <div class="tg-category">
                    <div class="tg-categoryholder">
                        <figure>
                            <img src="assets/images/icons/img-13.png" alt="image description">
                        </figure>
                        <h3>Furniture</h3>
                    </div>
                </div>
            </div>
            <ul class="tg-subcategories">
                <li>
                    <div class="tg-title">
                        <strong>Electronics</strong>
                    </div>
                    <div class=" tg-verticalscrollbar tg-dashboardscrollbar">
                        <ul>
                            <li class="tg-hassubcategories">Dishwashers</li>
                            <li class="tg-hassubcategories">Freezers</li>
                            <li class="tg-hassubcategories">Fridge Freezers</li>
                            <li class="tg-hassubcategories">Fans</li>
                            <li class="tg-hassubcategories">Air Conditioners</li>
                            <li class="tg-hassubcategories">Water Dispenser</li>
                            <li class="tg-hassubcategories">Microwave Ovens</li>
                            <li class="tg-hassubcategories">Refrigerators</li>
                            <li class="tg-hassubcategories">Hair Dryers</li>
                            <li class="tg-hassubcategories">Washing Machine</li>
                            <li class="tg-hassubcategories">dolor in reprehenderit</li>
                            <li class="tg-hassubcategories">in voluptate velit esse</li>
                            <li class="tg-hassubcategories">Dishwashers</li>
                            <li class="tg-hassubcategories">Freezers</li>
                            <li class="tg-hassubcategories">Fridge Freezers</li>
                            <li class="tg-hassubcategories">Fans</li>
                            <li class="tg-hassubcategories">Air Conditioners</li>
                            <li class="tg-hassubcategories">Water Dispenser</li>
                            <li class="tg-hassubcategories">Microwave Ovens</li>
                            <li class="tg-hassubcategories">Refrigerators</li>
                            <li class="tg-hassubcategories">Hair Dryers</li>
                            <li class="tg-hassubcategories">Washing Machine</li>
                            <li class="tg-hassubcategories">dolor in reprehenderit</li>
                            <li class="tg-hassubcategories">in voluptate velit esse</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="tg-title">
                        <strong>Air Conditioners</strong>
                    </div>
                    <div class=" tg-verticalscrollbar tg-dashboardscrollbar">
                        <ul>
                            <li>Voltas</li>
                            <li>Samsung</li>
                            <li>Daikin</li>
                            <li>LG</li>
                            <li>Whirlpool</li>
                            <li>Videocon</li>
                            <li>Blue Star</li>
                            <li>Hitachi</li>
                            <li>Haier</li>
                            <li>General</li>
                            <li>dolor in reprehenderit</li>
                            <li>in voluptate velit esse</li>
                            <li>Voltas</li>
                            <li>Samsung</li>
                            <li>Daikin</li>
                            <li>LG</li>
                            <li>Whirlpool</li>
                            <li>Videocon</li>
                            <li>Blue Star</li>
                            <li>Hitachi</li>
                            <li>Haier</li>
                            <li>General</li>
                            <li>dolor in reprehenderit</li>
                            <li>in voluptate velit esse</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>