<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <header id="tg-header" class="tg-header tg-haslayout">
        <div class="tg-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="tg-navcurrency">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#tg-modalselectcurrency">select currency</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#tg-modalpriceconverter">Price converter</a>
                            </li>
                        </ul>
                        <div ngbDropdown class="tg-themedropdown tg-userdropdown">
                            <ng-container *ngIf="!user else userSettingsBlock">
                                <a routerLink="/account/signin" class="tg-btndropdown">
                                    <span class="tg-userdp">
                                        <img src="assets/images/author/img-01.jpg" alt="image description">
                                    </span>
                                    <span class="tg-name">Login</span>
                                </a>
                            </ng-container>
                            <ng-template #userSettingsBlock>
                                <a id="tg-adminnav" class="tg-btndropdown" href="javascript:void(0);" ngbDropdownToggle>
                                    <span class="tg-userdp">
                                        <img src="{{user?.profileImageUrl || 'assets/images/author/img-01.jpg'}}" alt="image description">
                                    </span>
                                    <span class="tg-name">Hi! {{user?.firstName}}</span>
                                    <span class="tg-role">User</span>
                                </a>
                                <ul class="dropdown-menu tg-themedropdownmenu navbar-nav mr-right" ngbDropdownMenu aria-labelledby="tg-adminnav">
                                    <li>
                                        <a routerLink="/dashboard/account/me">
                                            <i class="icon-cog"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/dashboard/account/classifieds">
                                            <i class="icon-layers"></i>
                                            <span>My Ads</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/dashboard/classifieds/create">
                                            <i class="icon-layers"></i>
                                            <span>Dashboard Post Ad</span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="javascript:void(0);">
                                            <i class="icon-envelope"></i>
                                            <span>Messages</span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a routerLink="/dashboard/account/messages/received">Messages Received</a>
                                            </li>
                                            <li>
                                                <a routerLink="/dashboard/account/messages/sent">Messages Sent</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a routerLink="/dashboard/account/favourites">
                                            <i class="icon-heart"></i>
                                            <span>My Favourite</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/dashboard/account/privacy">
                                            <i class="icon-star"></i>
                                            <span>Privacy Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" (click)="onSignout()">
                                            <i class="icon-exit"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tg-navigationarea">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="exCollapsingNavbar2" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed"
                        (click)="isCollapsed = !isCollapsed" [ngClass]="{'collapsed': isCollapsed}">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="tg-logo" routerLink="/" routerLinkActive="active" i18n="Brand Link">
                        <img src="assets/images/logo.png" alt="company logo here">
                    </a>
                    <div class="navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{'collapse': isCollapsed}">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/" routerLinkActive="active" i18n="Login link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/classifieds" routerLinkActive="active" i18n="Registration link">Listings</a>
                            </li>
                            <ng-container *ngIf="!user else accountBlock">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/account/signin" routerLinkActive="active" i18n="Login link">Signin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/account/register" routerLinkActive="active" i18n="Registration link">Register</a>
                                </li>
                            </ng-container>
                            <ng-template #accountBlock>
                                <li class="nav-item dropdown" ngbDropdown>
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="accountMenu" ngbDropdownToggle i18n="message|description"
                                        i18n="My Account Link">My Account</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountMenu">
                                        <a id="myAccountSettings" class="dropdown-item" routerLink="/account/me" routerLinkActive="active" i18n="Account Settings">Settings</a>
                                        <a id="myAdverts" class="dropdown-item" routerLink="/account/classifieds" routerLinkActive="active" i18n="My Account Adverts">My Adverts</a>
                                        <a id="myMessages" class="dropdown-item" routerLink="/account/messages" routerLinkActive="active" i18n="My Account Messages">Messages</a>
                                        <a id="myWishlist" class="dropdown-item" routerLink="/account/wishlist" routerLinkActive="active" i18n="Account Wishlist">Wishlist</a>
                                        <a id="logout" class="dropdown-item" href="javascript:void(0)" (click)="onSignout()" i18n="Logout link">Logout</a>
                                    </div>
                                </li>
                            </ng-template>
                            <li class="nav-item dropdown" ngbDropdown>
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="languageMenu" ngbDropdownToggle i18n="message|description">Lang</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageMenu">
                                    <ng-template ngFor let-lang [ngForOf]="languages">
                                        <span *ngIf="lang.code !== localeId">
                                            <a href="/{{lang.code}}/" class="dropdown-item">{{lang.label}}</a>
                                        </span>
                                    </ng-template>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-right">
                            <li class="nav-item">
                                <a [ngClass]="{'tg-btn': isCollapsed, 'nav-link': !isCollapsed }" routerLink="/dashboard/classifieds/create">
                                    <i *ngIf="isCollapsed" class="icon-bookmark"></i>
                                    <span>Post An Ad</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <!--************************************
				Footer Start
		*************************************-->
    <footer id="tg-footer" class="tg-footer tg-haslayout">
        <div class="tg-footerbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 push-lg-1 col-lg-10">
                        <div class="tg-newsletter">
                            <h2>Signup For Newsletter:</h2>
                            <form class="tg-formtheme tg-formnewsletter" novalidate (ngSubmit)="onSubmitted(newsletterForm)" [formGroup]="newsletterForm">
                                <fieldset>
                                    <i class="icon-envelope"></i>
                                    <input type="email" name="email" class="form-control" placeholder="Enter your email here">
                                    <button type="button">Signup Now</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container">
            <div class="row">
                <div class="tg-footerinfo">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
                        <div class="tg-widget tg-widgetsearchbylocations">
                            <div class="tg-widgettitle">
                                <h3>Search By Locations:</h3>
                            </div>
                            <div class="tg-widgetcontent">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">- Aberdeen</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Armagh</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Bangor</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Bath</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Belfast</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Birmingham</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Bradford</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Brighton and Hove</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Bristol</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Cambridge</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">- Canterbury</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Cardiff</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Carlisle</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Chester</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Chichester</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- City of London</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Coventry</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Derby</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">- Dundee</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">View All</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="tg-widget tg-widgettext">
                            <div class="tg-widgetcontent">
                                <strong class="tg-logo">
                                    <a href="javascript:void(0);">
                                        <img src="assets/images/logof.png" alt="image description">
                                    </a>
                                </strong>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua anii ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo aute irurel in reprehenderit in voluptate velit esse cillum dolore
                                        eu fugiat nulla.</p>
                                </div>
                                <div class="tg-followus">
                                    <strong>Follow Us:</strong>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="tg-twitter">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="tg-linkedin">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="tg-googleplus">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="tg-rss">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="tg-appsnav">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/apps-01.png" alt="image description">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/apps-02.png" alt="image description">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <nav class="tg-footernav">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">Listing Policy</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Terms of Use</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Mobiles Policy</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Change Currency</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Sitemap</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">News</a>
                                        </li>
                                    </ul>
                                </nav>
                                <span class="tg-copyright">2017 All Rights Reserved &copy; Classified PRO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--************************************
				Footer End
		*************************************-->
</div>