<form class="tg-formtheme tg-formdashboard" novalidate (ngSubmit)="onSubmitted(form)" [formGroup]="form">
    <fieldset>
        <div class="tg-postanad row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="tg-dashboardbox">
                    <div class="tg-dashboardboxtitle">
                        <h2>Ad Detail</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div class="form-group text-center">
                            <a href="javascript:void(0);" (click)="open(content)" class="tg-btn" data-toggle="modal" data-target=".tg-categorymodal">Select Category Here</a>
                        </div>
                        <div class="form-group">
                            <ol class="tg-categorysequence">
                                <li>{{form.get('parentCategory').value?.name}}</li>
                                <li>{{form.get('category').value?.name}}</li>
                                <li>
                                    <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categorymodal" (click)="open(content)">(Change)</a>
                                </li>
                            </ol>
                        </div>                       
                        <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['title'].valid && (form.controls['title'].touched) }">
                            <input type="text" name="adtitle" class="form-control" placeholder="Enter Ad Title*" formControlName="title" maxlength="100">
                            <div class="form-control-feedback" *ngIf="form.get('title').hasError('required') && (form.get('title').touched)">
                                Title is Required
                            </div>
                            <div class="form-control-feedback" *ngIf="form.get('title').hasError('maxlength') && (form.get('title').touched)">
                                Max length of 100 characters for Title
                            </div>
                        </div>
                        <div class="form-group tg-priceformgroup" >
                            <div class="tg-checkbox">
                                <input id="hidePrice" type="checkbox" name="hidePrice" formControlName="hidePrice" >
                                <label for="hidePrice">Price On Call</label>
                            </div>
                            <div class="input-group" formGroupName="price">
                                <span class="input-group-addon iso-currency" [ngClass]="form.get('price.ccy').value"></span>
                                <input type="number" placeholder="Price" i18n-placeholder="Price" class="form-control" id="price" formControlName="value"
                                />
                            </div>
                        </div>
                        <dynamic-form-control *ngFor="let controlModel of formModel" [group]="detailsFormGroup" [model]="controlModel">
                        </dynamic-form-control>
                        <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['description'].valid && (form.controls['description'].touched) }">
                            <textarea class="form-control" placeholder="Description" formControlName="description" maxlength="2000"></textarea>
                            <div class="form-control-feedback" *ngIf="form.get('description').hasError('required') && (form.get('description').touched)">
                                Description is required
                            </div>
                            <div class="form-control-feedback" *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched)">
                                Max length of 2000 characters for Description
                            </div>
                        </div>
                        <div id="upload-section" ng2FileDrop (fileOver)="fileOverBase($event)" [uploader]="uploader">
                            <label class="tg-fileuploadlabel" for="tg-photogallery">
                                <span>Drop files anywhere to upload</span>
                                <span>Or</span>
                                <span class="tg-btn">
                                    Select Files
                                    <input type="file" id="tg-photogallery" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple>
                                </span>
                                <span>Maximum upload file size: 500 KB</span>
                            </label>
                            <div class="tg-horizontalthemescrollbar tg-profilephotogallery">
                                <ul>
                                    <li *ngFor="let item of uploader.queue">
                                        <figure>
                                            <img src="" imagePreview [image]="item?._file" alt="image description" style="width: 100px; height: 100px;" />
                                            <i class="icon-trash" (click)="item.remove()"></i>
                                        </figure>
                                    </li>
                                </ul>
                                <ul>
                                    <li *ngFor="let item of classified.images">
                                        <figure>
                                            <img src="{{item?.path}}" alt="image description" style="width: 100px; height: 100px;">
                                            <i class="icon-trash" (click)="removeImage(item)"></i>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="tg-dashboardbox">
                    <div class="tg-dashboardboxtitle">
                        <h2>Enable Offers/Messages</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div class="tg-checkbox">
                            <input id="allowMessages" type="checkbox" name="allowMessages" formControlName="allowMessages">
                            <label for="allowMessages">Enable offers/messages option in this Post</label>
                        </div>
                    </div>
                </div>
                <div class="tg-dashboardbox tg-contactdetail">
                    <div class="tg-dashboardboxtitle">
                        <h2>Contact Detail</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div formGroupName="advertiser">
                            <div class="form-group">
                                <strong>I’m a:</strong>
                                <div class="tg-selectgroup">
                                    <span class="tg-radio">
                                        <input id="tg-sameuser" type="radio" [checked]="form.get('advertiser').get('userType').value === 'same'" formControlName="userType"
                                            value="same" />
                                        <label for="tg-sameuser" (click)="onUserTypeChanged('same')">Same User</label>
                                    </span>
                                    <span class="tg-radio">
                                        <input id="tg-someoneelse" type="radio" [checked]="form.get('advertiser').get('userType').value === 'different'" formControlName="userType"
                                            value="different" />
                                        <label for="tg-someoneelse" (click)="onUserTypeChanged('different')">Someone Else</label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-danger': form.get('advertiser').get('firstName').invalid && (form.get('advertiser').get('firstName').touched) }">
                                <input type="text" [attr.disabled]="form.get('advertiser').get('userType').value === 'same'?'':null" name="firstName" formControlName="firstName"
                                    class="form-control" placeholder="First Name*">
                                <div class="form-control-feedback" *ngIf="form.get('advertiser').get('firstName').hasError('required') && (form.get('advertiser').get('firstName').touched)">
                                    First Name is required
                                </div>
                                <div class="form-control-feedback" *ngIf="form.get('advertiser').get('firstName').hasError('maxlength') && (form.get('advertiser').get('firstName').touched)">
                                    Max length of 40 characters for First Name
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-danger': form.get('advertiser').get('lastName').invalid && (form.get('advertiser').get('lastName').touched) }">
                                <input type="text" [attr.disabled]="form.get('advertiser').get('userType').value === 'same'?'':null" name="lastName" formControlName="lastName"
                                    class="form-control" placeholder="Last Name*">
                                <div class="form-control-feedback" *ngIf="form.get('advertiser').get('lastName').hasError('required') && (form.get('advertiser').get('lastName').touched)">
                                    Last Name is required
                                </div>
                                <div class="form-control-feedback" *ngIf="form.get('advertiser').get('lastName').hasError('maxlength') && (form.get('advertiser').get('lastName').touched)">
                                    Max length of 40 characters for Last Name
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-danger': form.get('advertiser').get('email').invalid && (form.get('advertiser').get('email').touched) }">
                                <input type="email" [attr.disabled]="form.get('advertiser').get('userType').value === 'same'?'':null" name="email" formControlName="email"
                                    class="form-control" placeholder="Email*">
                                <div *ngIf="form.get('advertiser').get('email').hasError('required') && (form.get('advertiser').get('email').touched )" class="form-control-feedback">
                                    Email is required
                                </div>
                                <div *ngIf="form.get('advertiser').get('email').hasError('maxlength') && form.get('advertiser').get('email').touched" class="form-control-feedback">
                                    Maximum of 256 characters
                                </div>
                                <div *ngIf="form.get('advertiser').get('email').hasError('minlength') && form.get('advertiser').get('email').touched" class="form-control-feedback">
                                    Minimum of 5 characters
                                </div>
                                <div *ngIf="form.get('advertiser').get('email').hasError('invalidEmail') && form.get('advertiser').get('email').touched"
                                    class="form-control-feedback">
                                    Invalid Email
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-danger': form.get('advertiser').get('phoneNumber').invalid && (form.get('advertiser').get('phoneNumber').touched) }">
                                <input type="text" name="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Phone*">
                                 <div *ngIf="form.get('advertiser').get('phoneNumber').hasError('required') && (form.get('advertiser').get('phoneNumber').touched )" class="form-control-feedback">
                                    Phone number is required
                                </div>
                                <div *ngIf="form.get('advertiser').get('phoneNumber').hasError('maxlength') && form.get('advertiser').get('phoneNumber').touched" class="form-control-feedback">
                                    Maximum of 15 characters
                                </div>
                                <div *ngIf="form.get('advertiser').get('phoneNumber').hasError('minlength') && form.get('advertiser').get('phoneNumber').touched" class="form-control-feedback">
                                    Minimum of 4 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select id="country" class="form-control" formControlName="country" (change)="onCountryChanged()">
                                    <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select id="region" class="form-control" formControlName="region" (change)="onRegionChanged()">
                                    <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">                          
                                <select id="state" class="form-control" formControlName="state">
                                    <option value="">Select City/County</option>
                                    <option *ngFor="let st of states" [ngValue]="st">{{st}}</option>
                                </select>                               
                            </div>
                        </div>                      
                        <div class="tg-checkbox">
                            <input id="tg-agreetermsandrules" type="checkbox" name="agreetermsandrules" value="on">
                            <label for="tg-agreetermsandrules">I agree to all
                                <a href="javascript:void(0);">Terms of Use &amp; Posting Rules</a>
                            </label>
                        </div>
                        <button class="tg-btn" type="submit">Post Ad</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <ng-template #content let-c="close" let-d="dismiss">
        <button type="button" class="tg-close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="tg-title">
            <strong>Select Category</strong>

        </div>       
        <input type="hidden" formControlName="parentCategory" />
        <owl-carousel #owlElement [options]="{ items: 4, dots: false, nav: true, loop: false,
            center: false, autoplay: false,	dotsClass: 'tg-sliderdots',
            navClass: ['tg-prev', 'tg-next'], 
            navContainerClass: 'tg-slidernav',
            navText: ['<span class=\'icon-chevron-left\'></span>', '<span class=\'icon-chevron-right\'></span>'],
            responsive: { '0': { items: 1, center: false }, '480': { items: 2, center: false }, '568': { items: 3, center: false },	'768': { items: 4 }	}}"
        [items]="categories" [carouselClasses]="['tg-categoriesslider', 'tg-categories']">
           <div class="tg-category" *ngFor="let category of categories">
               <div class="tg-categoryholder" (click)="onCategoryChanged(category)">
                   <figure>
                       <img src="assets/images/icons/img-08.png" alt="image description">
                   </figure>
                   <h3>{{category.name}}</h3>
               </div>
           </div>
       </owl-carousel>       
        <ul class="tg-subcategories">
            <li>
                <div class="tg-title">
                    <strong>{{form.get('parentCategory').value ? form.get('parentCategory').value.name : ''}}</strong>
                </div>
                <div class=" tg-verticalscrollbar tg-dashboardscrollbar">
                    <ul>
                        <li class="tg-hassubcategories" (click)="onSubCategoryChanged(subCategory)"  *ngFor="let subCategory of subCategories">{{subCategory.name}}</li>                   
                    </ul>
                    <input id="subCategory" formControlName="category" class="form-control" type="hidden" />
                </div>
            </li>
            <li>
                <div class="tg-title">
                    <strong>{{form.get('category').value ? form.get('category').value.name : ''}}</strong>
                </div>
                <div class=" tg-verticalscrollbar tg-dashboardscrollbar">
                    <ul>
                        
                    </ul>
                </div>
            </li>
        </ul>
    </ng-template>
</form>