<main id="tg-main" class="tg-main tg-haslayout">
    <section class="tg-dbsectionspace tg-haslayout">
        <div class="row">
            <form class="tg-formtheme tg-formdashboard" [formGroup]="form">
                <input type="hidden" name="top" formControlName="top" />
                <input type="hidden" name="skip" formControlName="skip" />
                <fieldset>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h2>My Ads</h2>
                            </div>
                            <div class="tg-dashboardholder">
                                <nav class="tg-navtabledata">
                                    <ul>
                                        <li class="tg-active">
                                            <a href="*">All Ads (50)</a>
                                        </li>
                                        <li>
                                            <a href="*">Featured (12)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-category="active">Active (42)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-category="inactive">Inactive (03)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-category="sold">Sold (02)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-category="expired">Expired (01)</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" data-category="deleted">Deleted (03)</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="tg-otherfilters">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 pull-left">
                                            <div class="form-group tg-sortby">
                                                <span>Sort by:</span>
                                                <div class="tg-select">                                                 
                                                    <select formControlName="sort">
                                                        <option [ngValue]="'created'">Most Recent</option>
                                                        <option [ngValue]="'title'">Title</option>
                                                        <option [ngValue]="'category.name'">Category</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-right">
                                            <div class="form-group tg-inputwithicon">
                                                <i class="icon-magnifier"></i>
                                                <input type="search" name="search" formControlName="q" class="form-control" placeholder="Search Here">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table id="tg-adstype" class="table tg-dashboardtable tg-tablemyads">
                                    <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Featured</th>
                                            <th>Ad Status</th>
                                            <th>Price &amp; Location</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let classified of classifieds?.data | paginate: { id: 'server', itemsPerPage: form.get('top').value, currentPage: p, totalItems: classifieds?.count }">
                                            <td data-title="Photo">
                                                <img src="{{classified.images?.length ? classified.images[0].path : 'assets/images/thumbnail/img-06.jpg'}}" style="max-width: 200px;"
                                                    alt="image description">
                                            </td>
                                            <td data-title="Title">
                                                <h3>{{classified.title}}</h3>
                                                <span>Ad ID: {{classified._id}}</span>
                                            </td>
                                            <td data-title="Category">
                                                <span class="tg-adcategories">{{classified.category.name}}</span>
                                            </td>
                                            <td data-title="Featured">Yes</td>
                                            <td data-title="Ad Status">
                                                <span class="tg-adstatus tg-adstatusactive">active</span>
                                            </td>
                                            <td data-title="Price &amp; Location">
                                                <h3>
                                                    <span class="iso-currency" [ngClass]="classified.price?.ccy"></span>{{classified.price ? classified.price.value.$numberDecimal : 'N/A'}}</h3>
                                                <address>location {{classified.state ? classified.state + ', ' : ''}} {{classified.region.name}},
                                                    {{classified.country.name}}
                                                </address>
                                            </td>
                                            <td data-title="Date">
                                                <time datetime="2017-08-08">{{classified.created | date : 'dd-MM-yyyy'}}</time>
                                                <span>Published</span>
                                            </td>
                                            <td data-title="Action">
                                                <div class="tg-btnsactions">
                                                    <a class="tg-btnaction tg-btnactionview" [routerLink]="['/classifieds/details', classified._id]">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a class="tg-btnaction tg-btnactionedit" [routerLink]="['/dashboard/classifieds/edit', classified._id]">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a (click)="onRemoveClassified(classified._id)" class="tg-btnaction tg-btnactiondelete" href="javascript:void(0);">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="classifieds?.count == 0" data-category="sold">
                                            <td colspan="8">
                                                <h3 class="lead">No Ads found</h3>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav class="tg-pagination" *ngIf="classifieds?.count > 0">
                                    <pagination-controls (pageChange)="onPageChanged($event)" id="server" previousLabel="" nextLabel=""></pagination-controls>
                                </nav>                             
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</main>