<inner-banner></inner-banner>
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row tg-twocolumns">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagehead">
                    <h1>Results for "{{searchForm.get('q').value || 'All Items'}}"</h1>
                    <p>{{classifieds?.count}} Results found</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <aside id="tg-sidebar" class="tg-sidebar">
                    <form class="tg-formtheme tg-formnerrowsearch" novalidate [formGroup]="searchForm">
                        <input type="hidden" name="top" formControlName="top" />
                        <input type="hidden" name="skip" formControlName="skip" />
                        <div class="tg-sidebartitle">
                            <h2>Narrow Your Search:</h2>
                        </div>
                        <fieldset>
                            <div id="tg-narrowsearchcollapse" class="tg-themecollapse tg-narrowsearchcollapse">
                                <div class="tg-collapsetitle">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Title/Keyword</span>
                                    </a>
                                </div>
                                <div class="tg-themecollapsecontent">
                                    <div class="form-group tg-inputwithicon">
                                        <i class="icon-magnifier"></i>
                                        <input type="search" name="search" formControlName="q" class="form-control" placeholder="Search Title/Keyword">
                                    </div>
                                </div>
                                <div class="tg-collapsetitle">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Category</span>
                                    </a>
                                </div>
                                <div class="tg-themecollapsecontent">
                                    <div class="form-group">
                                        <div class="tg-select">
                                            <select id="category" formControlName="category" class="form-control">
                                                <option value="">All Categories</option>
                                                <optgroup *ngFor="let parent of categories" [label]="parent.name">
                                                    <option *ngFor="let category of parent.children" [ngValue]="category._id">{{category.name}}</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-collapsetitle">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Location</span>
                                    </a>
                                </div>
                                <div class="tg-themecollapsecontent">
                                    <div class="form-group">
                                        <div class="tg-select">
                                            <select id="country" formControlName="country" class="form-control">
                                                <option value="">All Countries</option>
                                                <option *ngFor="let country of countries" [ngValue]="country.code.toString()">{{country.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-collapsetitle">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Price Range</span>
                                    </a>
                                </div>
                                <div class="tg-themecollapsecontent">
                                    <div class="form-group">
                                        <input type="number" id="minPrice" name="minPrice" formControlName="minPrice" class="form-control" placeholder="Min Price"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" id="maxPrice" name="maxPrice" formControlName="maxPrice" class="form-control" placeholder="Max Price"
                                        />
                                    </div>
                                </div>
                                <div class="tg-collapsetitle">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class="fa fa-angle-down">By Ads Type</span>
                                    </a>
                                </div>
                                <div class="tg-themecollapsecontent">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" [checked]="!searchForm.get('advertType').value" type="radio" value="" formControlName="advertType"> All
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" [checked]="searchForm.get('advertType').value === 'sell'" type="radio" value="sell" formControlName="advertType"> For Sale
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" [checked]="searchForm.get('advertType').value === 'buy'" type="radio" value="buy" formControlName="advertType"> Wanted
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="tg-btn">apply filter</button>
                        </fieldset>
                    </form>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <div id="tg-content" class="tg-content">
                    <div class="tg-contenthead">
                        <div class="tg-sortandview">
                            <div class="tg-sortby">
                                <strong>Sort by:</strong>
                                <div class="tg-select">
                                    <select>
                                        <option value="Most Recent">Most Recent</option>
                                        <option value="Most Recent">Lowest Price</option>
                                        <option value="Most Recent">Highest Price</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tg-views">
                                <strong>View As Grid</strong>
                                <ul>
                                    <li class="tg-active">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-th-large"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-reorder"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tg-applyedfilters">
                            <ul>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Manchester</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>$200 - $500</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Brand New</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Featured Ads</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Area Unit: Sq. ft.</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Sq. ft. 2500 - Sq. ft.5000</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>Rooms: 04</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>2014 - 2016</span>
                                </li>
                                <li class="alert alert-dismissable fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <span>1500 - 3000</span>
                                </li>
                                <li>
                                    <a class="tg-btncleall" href="javascript:void(0);">Clear All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tg-ads">
                        <div class="row">
                            <div *ngFor="let classified of classifieds?.data  | paginate: { id: 'server', itemsPerPage: searchForm.get('top').value, currentPage: p, totalItems: classifieds?.count }"
                                class="col-xs-6 col-sm-12 col-md-6 col-lg-4 tg-verticaltop">
                                <div class="tg-ad tg-verifiedad">
                                    <figure>
                                        <span class="tg-themetag tg-featuretag">featured</span>
                                        <a [routerLink]="['/classifieds/details', classified._id]">
                                            <img src="{{classified.image?.path || 'assets/images/ads/img-01.jpg'}}" alt="{{classified.title}}">
                                        </a>
                                        <span class="tg-photocount">See {{classified.imageCount}} Photos</span>
                                    </figure>
                                    <div class="tg-adcontent">
                                        <ul class="tg-productcagegories">
                                            <li>
                                                <a href="javascript:void(0);">{{classified.category?.name}}</a>
                                            </li>
                                        </ul>
                                        <div class="tg-adtitle">
                                            <h3>
                                                <a [routerLink]="['/classifieds/details', classified._id]">{{classified.title}}</a>
                                            </h3>
                                        </div>
                                        <time datetime="2017-06-06">Last Updated: {{classified.updated || classified.created | date : 'dd-MM-yyyy HH:mm'}}
                                        </time>
                                        <div class="tg-adprice">
                                            <h4>
                                                <span class="iso-currency" [ngClass]="classified.price?.ccy"></span>{{classified.price ? classified.price.value.$numberDecimal : 'N/A'}}</h4>
                                        </div>
                                        <address>{{classified?.state ? classified?.state + ', ' : ''}} {{classified.region.name}},
                                            {{classified.country.name}}
                                        </address>
                                        <div class="tg-phonelike">
                                            <a class="tg-btnphone" href="javascript:void(0);">
                                                <i class="icon-phone-handset"></i>
                                                <span data-toggle="tooltip" data-placement="top" title="Show Phone No." data-last="0800 - 1234 - 562 - 6">
                                                    <em>Show Phone No.</em>
                                                </span>
                                            </a>
                                            <span class="tg-like" [ngClass]="{ 'tg-liked': classified.favourite }" (click)="onFavourite($event, classified)">
                                                <i class="fa fa-heart"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="classifieds?.count === 0" class="col empty-list">
                                <h2 class="pt-3 pb-3">No Adverts Found</h2>
                            </div>
                        </div>
                    </div>                 
                    <nav class="tg-pagination" *ngIf="classifieds?.count > 0">
                        <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="" nextLabel=""></pagination-controls>                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
</main>