<section *ngIf="!success">
    <form novalidate (ngSubmit)="onSubmit(resetPassword)" [formGroup]="resetPassword">
        <div class="form-group" [ngClass]="{ 'has-danger': !resetPassword.controls['password'].valid && (resetPassword.controls['password'].touched || submitted) }">
            <label class="form-control-label">Password</label>
            <input type="password" placeholder="Password" formControlName="password" class="form-control" />
            <div *ngIf="resetPassword.get('password').hasError('required') && (resetPassword.get('password').touched || submitted)" class="form-control-feedback">
                Password is required
            </div>
            <div *ngIf="resetPassword.get('password').hasError('minlength') && resetPassword.get('password').touched" class="form-control-feedback">
                Minimum of 10 characters
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': !resetPassword.controls['confirmPassword'].valid && (resetPassword.controls['confirmPassword'].touched || submitted) }">
            <label class="form-control-label">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" />
            <div *ngIf="resetPassword.get('confirmPassword').hasError('required') && (resetPassword.get('confirmPassword').touched || submitted)"
                class="form-control-feedback">
                Confirm Password is required
            </div>
            <div *ngIf="resetPassword.get('confirmPassword').hasError('minlength') && resetPassword.get('confirmPassword').touched" class="form-control-feedback">
                Minimum of 10 characters
            </div>
            <div *ngIf="resetPassword.get('confirmPassword').hasError('equalTo') && resetPassword.get('confirmPassword').touched" class="form-control-feedback">
                Passwords do not match
            </div>
        </div>
        <div>
            <input type="hidden" formControlName="token" />
        </div>
        <div>
            <input type="hidden" formControlName="userId" />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</section>
<section *ngIf="success">
    <p>Password successfully reset</p>
    <p><a routerLink="/account/login">Please login to continue</a></p>
</section>