<div class="container">
    <div class="row pt-3">
        <div class="col-sm-12">
            <h2 class="display-4">My Classifieds</h2>
        </div>        
    </div>
    <div class="row pb-3">
        <div class="col-sm-12">
            <ul *ngFor="let classified of classifieds" class="list-group">
                <li class="list-group-item"><a [routerLink]="['/classifieds/edit', classified._id]">{{classified.title}}</a></li>
            </ul>
        </div>
        <div class="col-sm-12" *ngIf="classifieds?.length==0">
            <div class="jumbotron">
                <h2 class="display-4">No Adverts Found....</h2>
                <p class="lead">It's empty in here {{user?.firstName}}. Why not <a routerLink="/classifieds/create">post your first advert</a>?</p>
            </div>
        </div>
    </div>
</div>