<div class="container">
    <h1>My Wishlist</h1>
    <div class="row">
        <div *ngFor="let wish of wishlist" class="col-lg-3 d-flex align-items-stretch">
            <a class="card-link" [routerLink]="['/classifieds/details', wish._id]">
                <div class="card" style="height: 350px;">
                    <img class="card-img-top img-fluid" style="height: 200px;" src="{{wish.image?.path}}">
                    <div class="card-block">
                        <h6 class="card-title text-truncate">{{ wish.title }}</h6>
                        <p class="card-text">
                            <span class="iso-currency" [ngClass]="wish.price?.ccy"></span>{{ (wish.price?.value.$numberDecimal
                            | number : '1.2-2') || 'N/A' }}
                        </p>
                        <div class="row">
                            <div class="col-sm-9">
                                <p class="card-text pt-3">
                                    <small class="text-muted">Posted {{wish.created | date : 'dd-MM-yyyy HH:mm'}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>