<div class="container">
    <ng-container *ngIf="!success">
        <section>
            <form novalidate (ngSubmit)="onSubmit(registration)" [formGroup]="registration">
                <div class="form-group" [ngClass]="{ 'has-danger': !registration.controls['firstName'].valid && (registration.controls['firstName'].touched || submitted) }">
                    <label class="form-control-label">First Name</label>
                    <input type="text" placeholder="Your First Name" formControlName="firstName" class="form-control" />
                    <div *ngIf="registration.get('firstName').hasError('required') && (registration.get('firstName').touched || submitted)" class="form-control-feedback">
                        First Name is required
                    </div>
                    <div *ngIf="registration.get('firstName').hasError('maxlength') && registration.get('firstName').touched" class="form-control-feedback">
                        Maximum of 30 characters
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': !registration.controls['lastName'].valid && (registration.controls['lastName'].touched || submitted) }">
                    <label class="form-control-label">Last Name</label>
                    <input type="text" placeholder="Your Last Name" formControlName="lastName" class="form-control" />
                    <div *ngIf="registration.get('lastName').hasError('required') && (registration.get('lastName').touched || submitted)" class="form-control-feedback">
                        Last Name is required
                    </div>
                    <div *ngIf="registration.get('lastName').hasError('maxlength') && registration.get('lastName').touched" class="form-control-feedback">
                        Maximum of 40 characters
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': !registration.controls['email'].valid && (registration.controls['email'].touched || submitted) }">
                    <label class="form-control-label">Email</label>
                    <input type="email" placeholder="Your Email" i18n-placeholder="Your Email" formControlName="email" class="form-control" />
                    <div *ngIf="registration.get('email').hasError('required') && (registration.get('email').touched || submitted)" class="form-control-feedback">
                        Email is required
                    </div>
                    <div *ngIf="registration.get('email').hasError('maxlength') && registration.get('email').touched" class="form-control-feedback">
                        Maximum of 256 characters
                    </div>
                    <div *ngIf="registration.get('email').hasError('minlength') && registration.get('email').touched" class="form-control-feedback">
                        Minimum of 5 characters
                    </div>
                    <div *ngIf="registration.get('email').hasError('invalidEmail') && registration.get('email').touched" class="form-control-feedback">
                        Invalid Email
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': !registration.controls['password'].valid && (registration.controls['password'].touched || submitted) }">
                    <label class="form-control-label">Password</label>
                    <input type="password" placeholder="Password" formControlName="password" class="form-control" />
                    <div *ngIf="registration.get('password').hasError('required') && (registration.get('password').touched || submitted)" class="form-control-feedback">
                        Password is required
                    </div>
                    <div *ngIf="registration.get('password').hasError('minlength') && registration.get('password').touched" class="form-control-feedback">
                        Minimum of 7 characters
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-danger': !registration.controls['confirmPassword'].valid && (registration.controls['confirmPassword'].touched || submitted) }"
                    class="form-control-feedback">
                    <label class="form-control-label">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" />
                    <div *ngIf="registration.get('confirmPassword').hasError('required') && (registration.get('confirmPassword').touched || submitted)"
                        class="form-control-feedback">
                        Confirm Password is required
                    </div>
                    <div *ngIf="registration.get('confirmPassword').hasError('minlength') && registration.get('confirmPassword').touched" class="form-control-feedback">
                        Minimum of 7 characters
                    </div>
                    <div *ngIf="registration.get('confirmPassword').hasError('equalTo') && registration.get('confirmPassword').touched" class="form-control-feedback">
                        Passwords do not match
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </section>
        <section>
            <button type="button" (click)="onRegisterExternal('facebook')" class="btn btn-primary">Signup with facebook</button>
            <button type="button" (click)="onRegisterExternal('google')" class="btn btn-danger">Signup with Google</button>
        </section>
    </ng-container>
    <section *ngIf="success">
        <h2>You have successfully registered!</h2>
        <p>You will recieve a confirmation email shortly. Please click on the link provided to verify your email.</p>
    </section>
</div>