<section *ngIf="!success">
    <form novalidate (ngSubmit)="onSubmit(resetPassword)" [formGroup]="resetPassword">
        <div class="form-group" [ngClass]="{ 'has-danger': !resetPassword.controls['email'].valid && (resetPassword.controls['email'].touched || submitted) }">
            <label class="form-control-label">Email</label>
            <input type="email" placeholder="Your Email" formControlName="email" class="form-control" />
            <div *ngIf="resetPassword.get('email').hasError('required') && (resetPassword.get('email').touched || submitted)" class="form-control-feedback">
                    Email is required
                </div>
                <div *ngIf="resetPassword.get('email').hasError('maxlength') && resetPassword.get('email').touched" class="form-control-feedback">
                    Maximum of 256 characters
                </div>
                <div *ngIf="resetPassword.get('email').hasError('minlength') && resetPassword.get('email').touched" class="form-control-feedback">
                    Minimum of 5 characters
                </div>
                <div *ngIf="resetPassword.get('email').hasError('invalidEmail') && resetPassword.get('email').touched" class="form-control-feedback">
                    Invalid Email
                </div>
        </div>       
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</section>
<section *ngIf="success">
    <p>An email will be sent shortly. Please click on the link provided to change password.</p>
</section>
