<inner-banner></inner-banner>
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
                <div class="tg-logingarea">
                    <h2>Login Now</h2>
                    <form class="tg-formtheme tg-formloging" novalidate (ngSubmit)="onLogin(login)" [formGroup]="login">
                        <fieldset>
                            <div class="form-group" [ngClass]="{ 'has-danger': !login.controls['email'].valid && (login.controls['email'].touched || submitted) }">
                                <input type="email" name="Your Email" i18n-placeholder="Email text box placeholder" formControlName="email" id="email" class="form-control"
                                    placeholder="Username">
                                <div *ngIf="login.get('email').hasError('required') && (login.get('email').touched || submitted)" class="form-control-feedback">
                                    Email is required
                                </div>
                                <div *ngIf="login.get('email').hasError('maxlength') && login.get('email').touched" class="form-control-feedback">
                                    Maximum of 256 characters
                                </div>
                                <div *ngIf="login.get('email').hasError('minlength') && login.get('email').touched" class="form-control-feedback">
                                    Minimum of 5 characters
                                </div>
                                <div *ngIf="login.get('email').hasError('invalidEmail') && login.get('email').touched" class="form-control-feedback">
                                    Invalid Email
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-danger': !login.controls['password'].valid && (login.controls['password'].touched || submitted) }">
                                <input type="password" name="password" formControlName="password" id="password" class="form-control" placeholder="Password">
                                <div class="form-control-feedback" *ngIf="login.get('password').hasError('required') && (login.get('password').touched || submitted)">
                                    Password is required
                                </div>
                                <div class="form-control-feedback" *ngIf="login.get('password').hasError('minlength') && login.get('password').touched">
                                    Minimum of 7 characters
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="tg-checkbox">
                                    <input id="tg-rememberme" type="checkbox" name="rememberme" value="rememberme">
                                    <label for="tg-rememberme">Keep me logged in</label>
                                </div>
                                <a class="tg-forgetpassword" routerLink="/account/resetPassword">Forgot Password?</a>
                            </div>
                            <button class="tg-btn" type="submit">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5">
                <ul class="tg-sociallogingsignup">
                    <li class="tg-googleplus">
                        <a href="javascript:void(0);" (click)="onloginExternal('google')">
                            <i class="fa fa-google-plus"></i>
                            <span>Sign in with
                                <strong>“Google”</strong>
                            </span>
                        </a>
                    </li>
                    <li class="tg-facebook">
                        <a href="javascript:void(0);" (click)="onloginExternal('facebook')">
                            <i class="fa fa-facebook"></i>
                            <span>Sign in with
                                <strong>“Facebook”</strong>
                            </span>
                        </a>
                    </li>
                    <li class="tg-linkedin">
                        <a href="javascript:void(0);">
                            <i class="fa fa-linkedin"></i>
                            <span>Sign in with
                                <strong>“Linkedin”</strong>
                            </span>
                        </a>
                    </li>
                    <li class="tg-twitter">
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                            <span>Sign in with
                                <strong>“twitter”</strong>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>     
    </div>
</main>