<form novalidate (ngSubmit)="onSubmitted(form)" [formGroup]="form" class="mt-3 mb-5">
    <div class="alert alert-danger mt-3 pb-0" role="alert" *ngIf="validationErrors.length > 0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Please fix the following issues</strong>
        <ul>
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
    <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-12">Advert Type</legend>
        <div class="col-sm-12">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                              <input  class="form-check-input" [checked]="form.get('advertType').value === 'sell'" type="radio" value="sell" formControlName="advertType"> For Sale
                             </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                             <input  class="form-check-input" [checked]="form.get('advertType').value === 'buy'" type="radio" value="buy" formControlName="advertType"> Wanted
                             </label>
            </div>
        </div>
    </fieldset>
    <!-- Begin File Upload -->
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
        class="my-drop-zone mb-3">
        <div class="row">
            <div class="col-12">
                <h2 class="ml-4 sl-2">Base drop zone</h2>
                <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple>
            <span class="custom-file-control"></span>
          </label>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-3 mt-3 clearfix" *ngFor="let item of classified.images">
                <div class="card">
                    <img src="{{item?.path}}" class="card-img-top img-responsive" style="max-height: 175px;" alt="Uploaded Image" />
                    <div class="card-block">
                        <h6 class="card-title text-truncate">{{item?.name}}</h6>
                        <p class="card-text">{{ item?.size/1024/1024 | number:'1.2-2' }} MB</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="removeImage(item)">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-4 col-md-3 mb-3 mt-3 clearfix" *ngFor="let item of uploader.queue">
                <div class="card">
                    <img src="" class="card-img-top img-responsive" style="max-height: 175px;" imagePreview [image]="item?._file" alt="Uploaded Image"
                    />
                    <div class="card-block">
                        <h6 class="card-title text-truncate">{{ item?.file?.name }}</h6>
                        <p class="card-text">{{ item?.file?.size/1024/1024 | number:'1.2-2' }} MB</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End File Upload -->
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="parent-category" class="form-control-label" i18n="Main category|Main category for the classified">Main Category</label>
            <select id="parent-category" formControlName="parentCategory" class="form-control" (change)="onCategoryChanged()">
          <option *ngFor="let category of categories" [ngValue]="category._id">{{category.name}}</option>
        </select>
        </div>
        <div class="col-sm-6">
            <label for="subCategory" class="form-control-label" i18n="Sub category|Sub category for the classified">Sub Category</label>
            <select id="subCategory" formControlName="category" class="form-control" (change)="onSubCategoryChanged()">
          <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory">{{subCategory.name}}</option>
        </select>
        </div>
    </div>
    <dynamic-form-control *ngFor="let controlModel of formModel" [group]="detailsFormGroup" [model]="controlModel">
    </dynamic-form-control>
    <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['title'].valid && (form.controls['title'].touched) }">
        <label for="title" class="form-control-label" i18n="Classified Title|Title for the classified">Title</label>
        <input id="title" class="form-control" placeholder="Title" formControlName="title" maxlength="100" />
        <div class="form-control-feedback" *ngIf="form.get('title').hasError('required') && (form.get('title').touched)">
            Title is Required
        </div>
        <div class="form-control-feedback" *ngIf="form.get('title').hasError('maxlength') && (form.get('title').touched)">
            Max length of 100 characters for Title
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['description'].valid && (form.controls['description'].touched) }">
        <label for="description" class="form-control-label">Description</label>
        <textarea id="description" class="form-control" placeholder="Description" formControlName="description" rows="10" maxlength="2000"></textarea>
        <div class="form-control-feedback" *ngIf="form.get('description').hasError('required') && (form.get('description').touched)">
            Description is required
        </div>
        <div class="form-control-feedback" *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched)">
            Max length of 2000 characters for Description
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="form-control-label">Country</label>
        <select id="country" class="form-control" formControlName="country" (change)="onCountryChanged()">
        <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="region" class="form-control-label">Region/State</label>
        <select id="region" class="form-control" formControlName="region" (change)="onRegionChanged()">
        <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="states?.length">
        <label for="state" class="form-control-label">County/City (Optional)</label>
        <select multiple id="state" class="form-control" formControlName="state">
        <option *ngFor="let st of states" [ngValue]="st">{{st.name}}</option>
      </select>
    </div>
    <div class="form-group row" formGroupName="price">
        <div class="col-sm-2">
            <label for="currency" class="form-control-label">Currency</label>
            <input id="currency" class="form-control" placeholder="Currency" formControlName="ccy" [readonly]="true" />
        </div>
        <div class="col-sm-10">
            <label for="price" class="form-control-label">Price</label>
            <div class="input-group">
                <span class="input-group-addon iso-currency" [ngClass]="form.get('price.ccy').value"></span>
                <input type="number" placeholder="Price" i18n-placeholder="Price" class="form-control" id="price" formControlName="value"
                />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a routerLink="/classifieds" class="btn btn-outline-warning">Cancel</a>
</form>