<h2>{{classified?.title}}</h2>
<p>Description: {{classified?.description}}</p>

<p>Category: {{classified?.category.name}}</p>
<p>Country: {{classified?.country.name}}</p>
<p>Region: {{classified?.region.name}}</p>
<p>Areas:</p>
<ul>
    <li *ngFor="let state of classified?.states">{{state}}</li>
</ul>
<p>Price: <span class="iso-currency" [ngClass]="classified?.price?.ccy"></span>{{classified?.price?.value.$numberDecimal | number : '1.2-2'}}</p>
Images:
<div class="row">
    <div class="col-sm-2" *ngFor="let image of classified?.images">
        <img class="img-thumbnail" src="{{image}}">
    </div>
</div>
<div class="mb-5">
    <a routerLink="/classifieds" class="btn btn-outline-warning">Back</a>
</div>