<form class="tg-formtheme tg-formdashboard" novalidate (ngSubmit)="onSubmitted(form)" [formGroup]="form">
    <fieldset>
        <div class="tg-postanad">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="tg-dashboardbox">
                    <div class="tg-dashboardboxtitle">
                        <h2>Ad Detail</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div class="form-group text-center">
                            <a href="#" class="tg-btn" data-toggle="modal" data-target=".tg-categorymodal">Select Category Here</a>
                        </div>
                        <div class="form-group">
                            <ol class="tg-categorysequence">
                                <li>Electronics</li>
                                <li>Air Conditioners</li>
                                <li>Daikin
                                    <a href="javascript:void(0);" data-toggle="modal" data-target=".tg-categorymodal">(Change)</a>
                                </li>
                            </ol>
                        </div>
                        <div class="form-group">
                            <input type="text" name="adtitle" class="form-control" placeholder="Enter Ad Title*">
                        </div>
                        <div class="form-group tg-priceformgroup">
                            <div class="tg-checkbox">
                                <input id="tg-priceoncall" type="checkbox" name="priceoncall" value="on">
                                <label for="tg-priceoncall">Price On Call</label>
                            </div>
                            <input type="text" name="price" class="form-control" placeholder="Price*">
                        </div>
                        <div class="form-group">
                            <div id="mceu_24" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; width: 100%;">
                                <div id="mceu_24-body" class="mce-container-body mce-stack-layout">
                                    <div id="mceu_25" class="mce-container mce-menubar mce-toolbar mce-stack-layout-item mce-first"
                                        role="menubar" style="border-width: 0px 0px 1px;">
                                        <div id="mceu_25-body" class="mce-container-body mce-flow-layout">
                                            <div id="mceu_26" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-first mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_26" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_26-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">File</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_27" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_27" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_27-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">Edit</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_28" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_28" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_28-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">Insert</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_29" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_29" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_29-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">View</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_30" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_30" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_30-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">Format</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_31" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_31" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_31-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">Table</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                            <div id="mceu_32" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-last mce-btn-has-text"
                                                tabindex="-1" aria-labelledby="mceu_32" role="menuitem" aria-haspopup="true">
                                                <button id="mceu_32-open" role="presentation" type="button" tabindex="-1">
                                                    <span class="mce-txt">Tools</span>
                                                    <i class="mce-caret"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mceu_33" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item"
                                        hidefocus="1" tabindex="-1" role="group">
                                        <div id="mceu_33-body" class="mce-container-body mce-stack-layout">
                                            <div id="mceu_34" class="mce-container mce-toolbar mce-stack-layout-item mce-first"
                                                role="toolbar">
                                                <div id="mceu_34-body" class="mce-container-body mce-flow-layout">
                                                    <div id="mceu_35" class="mce-container mce-flow-layout-item mce-first mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_35-body">
                                                            <div id="mceu_0" class="mce-widget mce-btn mce-first mce-disabled"
                                                                tabindex="-1" role="button" aria-label="Undo" aria-disabled="true">
                                                                <button id="mceu_0-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-undo"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_1" class="mce-widget mce-btn mce-last mce-disabled"
                                                                tabindex="-1" role="button" aria-label="Redo" aria-disabled="true">
                                                                <button id="mceu_1-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-redo"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_36" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_36-body">
                                                            <div id="mceu_2" class="mce-widget mce-btn mce-menubtn mce-first mce-last"
                                                                tabindex="-1" aria-labelledby="mceu_2" role="button" aria-haspopup="true">
                                                                <button id="mceu_2-open" role="presentation" type="button" tabindex="-1">
                                                                    <i class="mce-ico mce-i-insert"></i>
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_37" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_37-body">
                                                            <div id="mceu_3" class="mce-widget mce-btn mce-menubtn mce-first mce-last mce-btn-has-text"
                                                                tabindex="-1" aria-labelledby="mceu_3" role="button" aria-haspopup="true">
                                                                <button id="mceu_3-open" role="presentation" type="button" tabindex="-1">
                                                                    <span class="mce-txt">Formats</span>
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_38" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_38-body">
                                                            <div id="mceu_4" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                                role="button" aria-label="Bold">
                                                                <button id="mceu_4-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-bold"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_5" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Italic">
                                                                <button id="mceu_5-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-italic"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_39" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_39-body">
                                                            <div id="mceu_6" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                                role="button" aria-label="Align left">
                                                                <button id="mceu_6-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-alignleft"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_7" class="mce-widget mce-btn" tabindex="-1" role="button"
                                                                aria-label="Align center">
                                                                <button id="mceu_7-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-aligncenter"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_8" class="mce-widget mce-btn" tabindex="-1" role="button"
                                                                aria-label="Align right">
                                                                <button id="mceu_8-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-alignright"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_9" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Justify">
                                                                <button id="mceu_9-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-alignjustify"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_40" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_40-body">
                                                            <div id="mceu_10" class="mce-widget mce-btn mce-splitbtn mce-menubtn mce-first"
                                                                role="button" tabindex="-1" aria-label="Bullet list" aria-haspopup="true">
                                                                <button type="button" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-ico mce-i-bullist"></i>
                                                                </button>
                                                                <button type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_11" class="mce-widget mce-btn mce-splitbtn mce-menubtn"
                                                                role="button" tabindex="-1" aria-label="Numbered list" aria-haspopup="true">
                                                                <button type="button" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-ico mce-i-numlist"></i>
                                                                </button>
                                                                <button type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_12" class="mce-widget mce-btn" tabindex="-1" role="button"
                                                                aria-label="Decrease indent">
                                                                <button id="mceu_12-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-outdent"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_13" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Increase indent">
                                                                <button id="mceu_13-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-indent"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_41" class="mce-container mce-flow-layout-item mce-last mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_41-body">
                                                            <div id="mceu_14" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                                role="button" aria-label="Insert/edit link">
                                                                <button id="mceu_14-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-link"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_15" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Insert/edit image">
                                                                <button id="mceu_15-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-image"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="mceu_42" class="mce-container mce-toolbar mce-stack-layout-item mce-last"
                                                role="toolbar">
                                                <div id="mceu_42-body" class="mce-container-body mce-flow-layout">
                                                    <div id="mceu_43" class="mce-container mce-flow-layout-item mce-first mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_43-body">
                                                            <div id="mceu_16" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                                role="button" aria-label="Print">
                                                                <button id="mceu_16-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-print"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_17" class="mce-widget mce-btn" tabindex="-1" role="button"
                                                                aria-label="Preview">
                                                                <button id="mceu_17-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-preview"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_18" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Insert/edit media">
                                                                <button id="mceu_18-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-media"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_44" class="mce-container mce-flow-layout-item mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_44-body">
                                                            <div id="mceu_19" class="mce-widget mce-btn mce-colorbutton mce-first"
                                                                role="button" tabindex="-1" aria-haspopup="true" aria-label="Text color">
                                                                <button role="presentation" hidefocus="1" type="button" tabindex="-1">
                                                                    <i class="mce-ico mce-i-forecolor"></i>
                                                                    <span id="mceu_19-preview" class="mce-preview"></span>
                                                                </button>
                                                                <button type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_20" class="mce-widget mce-btn mce-colorbutton"
                                                                role="button" tabindex="-1" aria-haspopup="true" aria-label="Background color">
                                                                <button role="presentation" hidefocus="1" type="button" tabindex="-1">
                                                                    <i class="mce-ico mce-i-backcolor"></i>
                                                                    <span id="mceu_20-preview" class="mce-preview"></span>
                                                                </button>
                                                                <button type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                                    <i class="mce-caret"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_21" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button" aria-label="Emoticons" aria-haspopup="true">
                                                                <button id="mceu_21-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-emoticons"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="mceu_45" class="mce-container mce-flow-layout-item mce-last mce-btn-group"
                                                        role="group">
                                                        <div id="mceu_45-body">
                                                            <div id="mceu_22" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                                role="button" aria-label="Insert/Edit code sample">
                                                                <button id="mceu_22-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-codesample"></i>
                                                                </button>
                                                            </div>
                                                            <div id="mceu_23" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                                role="button">
                                                                <button id="mceu_23-button" role="presentation" type="button"
                                                                    tabindex="-1">
                                                                    <i class="mce-ico mce-i-help"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mceu_46" class="mce-edit-area mce-container mce-panel mce-stack-layout-item"
                                        hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;">
                                        <iframe id="tg-tinymceeditor_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help"
                                            style="width: 100%; height: 250px; display: block;"></iframe>
                                    </div>
                                    <div id="mceu_47" class="mce-statusbar mce-container mce-panel mce-stack-layout-item mce-last"
                                        hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;">
                                        <div id="mceu_47-body" class="mce-container-body mce-flow-layout">
                                            <div id="mceu_48" class="mce-path mce-flow-layout-item mce-first">
                                                <div class="mce-path-item">&nbsp;</div>
                                            </div>
                                            <span id="mceu_50" class="mce-wordcount mce-widget mce-label mce-flow-layout-item">Words: 0</span>
                                            <div id="mceu_49" class="mce-flow-layout-item mce-resizehandle mce-last">
                                                <i class="mce-ico mce-i-resize"></i>
                                            </div>
                                        </div>
                                        <div class="mce-branding-powered-by" style="right: 0px; top: -16px;"></div>
                                    </div>
                                </div>
                            </div>
                            <textarea id="tg-tinymceeditor" class="tg-tinymceeditor" aria-hidden="true" style="display: none;"></textarea>
                        </div>
                        <label class="tg-fileuploadlabel" for="tg-photogallery">
                            <span>Drop files anywhere to upload</span>
                            <span>Or</span>
                            <span class="tg-btn">Select Files</span>
                            <span>Maximum upload file size: 500 KB</span>
                            <input id="tg-photogallery" class="tg-fileinput" type="file" name="file">
                        </label>
                        <div class="tg-horizontalthemescrollbar tg-profilephotogallery mCustomScrollbar _mCS_4">
                            <div id="mCSB_4" class="mCustomScrollBox mCS-light mCSB_horizontal mCSB_inside" tabindex="0" style="max-height: none;">
                                <div id="mCSB_4_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px; width: 871px; min-width: 100%; overflow-x: inherit;"
                                    dir="ltr">
                                    <ul>
                                        <li>
                                            <figure>
                                                <img src="images/thumbnail/img-01.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="icon-trash"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="tg-activephoto">
                                                <img src="images/thumbnail/img-02.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="fa fa-check-square-o"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="images/thumbnail/img-02.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="icon-trash"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="tg-activephoto">
                                                <img src="images/thumbnail/img-04.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="fa fa-check-square-o"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="tg-activephoto">
                                                <img src="images/thumbnail/img-05.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="fa fa-check-square-o"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="images/thumbnail/img-01.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="icon-trash"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="tg-activephoto">
                                                <img src="images/thumbnail/img-02.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="fa fa-check-square-o"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="images/thumbnail/img-02.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="icon-trash"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure>
                                                <img src="images/thumbnail/img-04.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="icon-trash"></i>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="tg-activephoto">
                                                <img src="images/thumbnail/img-05.jpg" alt="image description" class="mCS_img_loaded">
                                                <i class="fa fa-check-square-o"></i>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                                <div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-light mCSB_scrollTools_horizontal"
                                    style="display: block;">
                                    <div class="mCSB_draggerContainer">
                                        <div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; display: block; width: 412px; max-width: 589px; left: 0px;">
                                            <div class="mCSB_dragger_bar"></div>
                                        </div>
                                        <div class="mCSB_draggerRail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                <div class="tg-dashboardbox">
                    <div class="tg-dashboardboxtitle">
                        <h2>Enable Offers/Messages</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div class="tg-checkbox">
                            <input id="tg-enablemessages" type="checkbox" name="enablemessages" value="on">
                            <label for="tg-enablemessages">Enable offers/messages option in this Post</label>
                        </div>
                    </div>
                </div>
                <div class="tg-dashboardbox tg-contactdetail">
                    <div class="tg-dashboardboxtitle">
                        <h2>Contact Detail</h2>
                    </div>
                    <div class="tg-dashboardholder">
                        <div class="form-group">
                            <strong>I’m a:</strong>
                            <div class="tg-selectgroup">
                                <span class="tg-radio">
                                    <input id="tg-sameuser" type="radio" name="usertype" value="same user" checked="">
                                    <label for="tg-sameuser">Same User</label>
                                </span>
                                <span class="tg-radio">
                                    <input id="tg-someoneelse" type="radio" name="usertype" value="someone else">
                                    <label for="tg-someoneelse">Someone Else</label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="firstname" class="form-control" placeholder="First Name*">
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastname" class="form-control" placeholder="Last Name*">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone*">
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select>
                                    <option>Select Country</option>
                                    <option>Select Country</option>
                                    <option>Select Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select>
                                    <option>Select State</option>
                                    <option>Select State</option>
                                    <option>Select State</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tg-select">
                                <select>
                                    <option>Select City</option>
                                    <option>Select City</option>
                                    <option>Select City</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group tg-inputwithicon">
                            <i class="fa fa-crosshairs"></i>
                            <input type="text" name="enteraddress" class="form-control" placeholder="Enter Address">
                        </div>
                        <div class="tg-checkbox">
                            <input id="tg-agreetermsandrules" type="checkbox" name="agreetermsandrules" value="on">
                            <label for="tg-agreetermsandrules">I agree to all
                                <a href="javascript:void(0);">Terms of Use &amp; Posting Rules</a>
                            </label>
                        </div>
                        <button class="tg-btn" type="button">Post Ad</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>


<!-- <form novalidate (ngSubmit)="onSubmitted(form)" [formGroup]="form" class="pt-3 pb-5">
    <div class="alert alert-danger mt-3 pb-0" role="alert" *ngIf="validationErrors.length > 0">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Please fix the following issues</strong>
        <ul>
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
    <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-12">Advert Type</legend>
        <div class="col-sm-12">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input  class="form-check-input" [checked]="form.get('advertType').value === 'sell'" type="radio" value="sell" formControlName="advertType"> For Sale
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input  class="form-check-input" [checked]="form.get('advertType').value === 'buy'" type="radio" value="buy" formControlName="advertType"> Wanted
                </label>
            </div>
        </div>
    </fieldset> 
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
        class="my-drop-zone mb-3">
        <div class="row">
            <div class="col-12">
                <h2 class="ml-4 sl-2">Base drop zone</h2>
                <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple>
            <span class="custom-file-control"></span>
          </label>
            </div>
            <div class="col-12 col-sm-4 col-md-3 mb-3 mt-3 clearfix" *ngFor="let item of classified.images">
                <div class="card">
                    <img src="{{item?.path}}" class="card-img-top img-responsive" style="max-height: 175px;" alt="Uploaded Image" />
                    <div class="card-block">
                        <h6 class="card-title text-truncate">{{item?.name}}</h6>
                        <p class="card-text">{{ item?.size/1024/1024 | number:'1.2-2' }} MB</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="removeImage(item)">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-4 col-md-3 mb-3 mt-3 clearfix" *ngFor="let item of uploader.queue">
                <div class="card">
                    <img src="" class="card-img-top img-responsive" style="max-height: 175px;" imagePreview [image]="item?._file" alt="Uploaded Image"
                    />
                    <div class="card-block">
                        <h6 class="card-title text-truncate">{{ item?.file?.name }}</h6>
                        <p class="card-text">{{ item?.file?.size/1024/1024 | number:'1.2-2' }} MB</p>
                        <button type="button" class="btn btn-primary btn-sm" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-sm-6">
            <label for="parent-category" class="form-control-label" i18n="Main category|Main category for the classified">Main Category</label>
            <select id="parent-category" formControlName="parentCategory" class="form-control" (change)="onCategoryChanged()">
          <option *ngFor="let category of categories" [ngValue]="category._id">{{category.name}}</option>
        </select>
        </div>
        <div class="col-sm-6">
            <label for="subCategory" class="form-control-label" i18n="Sub category|Sub category for the classified">Sub Category</label>
            <select id="subCategory" formControlName="category" class="form-control" (change)="onSubCategoryChanged()">
          <option *ngFor="let subCategory of subCategories" [ngValue]="subCategory">{{subCategory.name}}</option>
        </select>
        </div>
    </div>
    <dynamic-form-control *ngFor="let controlModel of formModel" [group]="detailsFormGroup" [model]="controlModel">
    </dynamic-form-control>
    <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['title'].valid && (form.controls['title'].touched) }">
        <label for="title" class="form-control-label" i18n="Classified Title|Title for the classified">Title</label>
        <input id="title" class="form-control" placeholder="Title" formControlName="title" maxlength="100" />
        <div class="form-control-feedback" *ngIf="form.get('title').hasError('required') && (form.get('title').touched)">
            Title is Required
        </div>
        <div class="form-control-feedback" *ngIf="form.get('title').hasError('maxlength') && (form.get('title').touched)">
            Max length of 100 characters for Title
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': !form.controls['description'].valid && (form.controls['description'].touched) }">
        <label for="description" class="form-control-label">Description</label>
        <textarea id="description" class="form-control" placeholder="Description" formControlName="description" rows="10" maxlength="2000"></textarea>
        <div class="form-control-feedback" *ngIf="form.get('description').hasError('required') && (form.get('description').touched)">
            Description is required
        </div>
        <div class="form-control-feedback" *ngIf="form.get('description').hasError('maxlength') && (form.get('description').touched)">
            Max length of 2000 characters for Description
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="form-control-label">Country</label>
        <select id="country" class="form-control" formControlName="country" (change)="onCountryChanged()">
        <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="region" class="form-control-label">Region/State</label>
        <select id="region" class="form-control" formControlName="region" (change)="onRegionChanged()">
        <option *ngFor="let r of regions" [ngValue]="r">{{r.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="states?.length">
        <label for="state" class="form-control-label">County/City (Optional)</label>
        <select multiple id="state" class="form-control" formControlName="state">
        <option *ngFor="let st of states" [ngValue]="st">{{st.name}}</option>
      </select>
    </div>
    <div class="form-group row" formGroupName="price">
        <div class="col-sm-2">
            <label for="currency" class="form-control-label">Currency</label>
            <input id="currency" class="form-control" placeholder="Currency" formControlName="ccy" [readonly]="true" />
        </div>
        <div class="col-sm-10">
            <label for="price" class="form-control-label">Price</label>
            <div class="input-group">
                <span class="input-group-addon iso-currency" [ngClass]="form.get('price.ccy').value"></span>
                <input type="number" placeholder="Price" i18n-placeholder="Price" class="form-control" id="price" formControlName="value"
                />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a routerLink="/classifieds" class="btn btn-outline-warning">Cancel</a>
</form> -->