/* You can add global styles to this file, and also import other style files */
  span.iso-currency.USD::after {
                        content: "$"
                    }
                    
                    span.iso-currency.GBP::after {
                        content: "£"
                    }
                    
                    span.iso-currency.EUR::after {
                        content: "€"
                    }

.custom-file-control::before {
    content: "Browse"
}

.custom-file-control::after {
    content: "Choose File"
}

.carousel-inner {
    background-color: #222;
}

dynamic-form-control {
    display: block;
}

.dynamic-form-group-label {
    width: 100%;
    padding-left: 15px;
    display: inline-block;
}

a.card-link .card {
    color: initial;      
}

a.card-link:hover, a.card-link:focus, a.card-link:active {
    text-decoration: none;
}

 .my-drop-zone {
        border: dotted 3px lightgray;
      }

      .nv-file-over {
        border: dotted 3px red;
      }
