div.tg-navigationarea {
    padding: 35px 0px 25px 0px;
} 

.navbar {
    padding: .0rem 1rem;
}

span.iso-currency.USD::after {
    content: "$"
}

span.iso-currency.GBP::after {
    content: "£"
}

span.iso-currency.EUR::after {
    content: "€"
}

.custom-file-input {
    display: none;
}

.tg-priceandlastupdate span.iso-currency {
    display: inline;
}


/* Image Previewer*/
.tg-themetag {
    z-index: 1001;
}

.tg-ad figure a.ngx-gallery-thumbnail, .tg-ad figure img.ngx-gallery-thumbnail {
    border-radius: unset;
}

.tg-photocount{
    bottom: 74px;
    z-index: 1001;
}


.tg-ad figure img, .tg-ad figure a img{
    width: 240px;
    height: 200px;
}

.ngx-gallery-active[_nghost-c3] {
    background: rgba(0, 0, 0, 0.93) !important;
}

.ngx-gallery-preview-img{
    height: auto !important;
    width: auto !important;
}

.tg-thememodal.tg-categorymodal .tg-close, .tg-thememodal.tg-modaldeleteconfirmation .tg-close {
    top: -13px;
    right: -13px;
}

.tg-thememodal.tg-categorymodal .tg-title {
    text-align: left;
}

.tg-thememodal.tg-categorymodal .modal-dialog  {
   max-width: 870px;
   clear: both;
   width: 100%;
   padding: 20px;
   overflow:  hidden;
}

.tg-thememodal.tg-categorymodal .modal-content  {
    border: 0;
    width: 100%;
    float:  left;
    box-shadow: none;
    padding: 25px 30px 30px 30px;
}

.tg-hassubcategories{
    cursor: pointer;
}

.tg-user img {
    height: 60px;
    width: 60px;
}

.profile-image-change {
    color: #55acee;
    font-size: 15px;
    cursor: pointer;
}

.tg-userdp img {
    height: 40px;
    width: 40px;
}

.tg-ad.tg-dotnotification img {
    width: 100%;
    height: 100%;
}

.tg-ad figure img {
    width: 100%;
    height: 100%;
}

.tg-offersmessages ul li {
    width: 100%;
}

@media(min-width: 992px){
    .tg-offersmessages ul li.opened {
        width: 60%;
    }
}

.tg-offersmessages .tg-ad p {
    margin: 0;
    width: auto;
	color: #363b4d;
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
	overflow: hidden;
	padding: 0 0 0 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.tg-scroll-vertical {
    overflow-y: auto;
}

.dropdown-toggle::after {
    content: none;
}

.empty-list {
    background: url(/assets/images/pattern-01.png);
}

.form-control-feedback {
    font-size: 14px;
}

@media(max-width:768px){
.tg-nav {
    float: right
}

.tg-navigation {
position:  relative;

}
}

.navbar-toggle .navbar-toggler-icon {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 4px;
}

.navbar-toggle span:last-of-type {
    margin-bottom:  0px;
}


.ngx-pagination a, .ngx-pagination button {
    padding: 0 !important;   
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
    color: #fff !important;   
}

.ngx-pagination .disabled {
    padding: 0 !important;  
}

.ngx-pagination .current {
    padding: 0 !important;   
    background: #00cc67 !important;
}

.ngx-pagination .pagination-next a, .ngx-pagination .pagination-previous a {
    background: #484848;
    color: #fff;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    margin-left: 0px  !important;   
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    margin-right: 0px  !important;   
}

.navbar-nav li {
    list-style-type: none;
}

.nav-link  {
   color: #484848;
}

.navbar-collapse:not(.collapsed) ul li {
    text-align: left;
}

.tg-twocolumns {
    width: auto;
}

.tg-dashboardheader {
    min-height: 75px;
}

.tg-currentandtotalslides {
    margin-top: 15px;
    margin-left: -29px;  
    padding: 0px;
}

.tg-formreportthisad .tg-radio input[type=radio] + label:after {
    top: 4px;
}

.alert.alert-danger ul li {
    font-size: 14px;
}